<div class="container">
    <mat-card>
      <form [formGroup]="flightSearchForm" (ngSubmit)="!flightSearchForm.invalid && search();">
        <div class="form-container">
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Source</mat-label>
              <input type="text" minlength="3" maxlength="3" pattern="[a-zA-Z0-9]*" placeholder="From" i18n-placeholder="From placeholder" matInput formControlName="source" />
              <mat-error *ngIf="sourceControl.hasError('required')">Please provide a value</mat-error>
              <mat-error *ngIf="sourceControl.hasError('pattern')">Please provide a valid value</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field appearance="outline">
                <mat-label>Destination</mat-label>
              <input type="text" minlength="3" maxlength="3" pattern="[a-zA-Z0-9]*" placeholder="To" i18n-placeholder="To placeholder" matInput formControlName="destination" />
              <mat-error *ngIf="destinationControl.hasError('required')">Please provide a value</mat-error>
              <mat-error *ngIf="destinationControl.hasError('pattern')">Please provide a valid value</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field appearance="outline">
                <mat-label>Departure Date</mat-label>
              <input matInput [matDatepicker]="fromDatePicker" [min]="minDate"
                placeholder="Departure Date" i18n-placeholder="Departure Date placeholder" formControlName="departureDate" />
              <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #fromDatePicker></mat-datepicker>
              <mat-error *ngIf="!departureDateControl.invalid && departureDateControl.hasError('required')">Please provide a date</mat-error>
              <mat-error *ngIf="departureDateControl.invalid">Please provide a valid date</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field appearance="outline">
                <mat-label>Return Date</mat-label>
              <input matInput [matDatepicker]="toDatePicker" [min]="departureDateControl.value"
                placeholder="Return Date" i18n-placeholder="Return Date placeholder" formControlName="returnDate" />
              <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #toDatePicker></mat-datepicker>
              <mat-error *ngIf="returnDateControl.invalid">Please provide a valid date</mat-error>
            </mat-form-field>
          </div>
          <button type="submit" color="primary" class="btn" [disabled]="flightSearchForm.invalid" mat-raised-button i18n="Search flights|Button to search flights">Search</button>
        </div>
      </form>
    </mat-card>
  </div>