.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: strech;
  flex-wrap: wrap;
  margin: auto;
}

.form-field {
  flex: 1;
  margin: 0 10px;
}

.mat-form-field {
  display: block;
  flex-basis: 1em;
}

.container {
  margin-top: 20px;
}

.btn {
  max-height: 50px;
  margin-top: 7px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin-bottom: 0;
  padding-bottom: 0;
}