.flight-container {
  margin: 15px 0;
}

.separator {
  width: 50px;
  height: 2px;
  background-color: #ccc;
  margin: 0 15px;
}

.flight {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;

  &-name {
    flex-basis: 0;
    flex-grow: 1;
  }

  &-timing {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}

.flight-name .logo {
  padding: 10px;
  display: inline-block;
}

.flight-name .name {
  padding: 10px;
  display: inline-block;
}

.flight-timing .inbound {
  padding: 10px;
  display: inline-block;
}

.flight-timing .inbound h3 {
  margin: 0;
}

.flight-timing .inbound h4 {
  margin: 0;
}

.flight-timing .inbound p {
  margin-top: 0;
}

.flight-timing .separator {
  width: 50px;
  border: solid 2px #efefef;
}

.flight-timing .outbound {
  padding: 10px;
  display: inline-block;
}

.flight-timing .outbound h4 {
  margin: 0;
}

.flex-inline {
  display: flex-inline;
}

.total-amount {
  padding: 15px;
  flex-basis: 1;
}
.total-amount h3 {
  margin-right: 15px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .flight {
    flex-wrap: wrap;

    &-name {
      width: 100%;
      flex-basis: 100%;
    }
  }

  .flight-timing .inbound {
    padding: 10px 0;
  }

  .total-amount h3 {
    padding: 0;
  }

  .total-amount {
    padding: 0;
  }
}
