<div class="flight-container">
  <mat-card>
    <div class="flight">
      <div class="flight-name">
        <div class="logo">
          <img [src]="flight?.AirlineLogoAddress" />
        </div>
        <div class="name">
          {{ flight?.AirlineName }}
        </div>
      </div>
      <div class="flight-timing">
        <div class="inbound">
          <p i18n="Onward | Onward journey">Onward</p>
          <h3>{{ flight?.InboundFlightsDuration }}</h3>
        </div>
        <div class="separator"></div>
        <div class="stops">
          <h4>
            {{ flight?.Stops }}
            <span i18n="Stops|Total Number of stops">stops</span>
          </h4>
        </div>
      </div>
      <div class="flight-timing" *ngIf="includeReturn">
        <div class="inbound">
          <p i18n="Return | Return journey">Return</p>
          <h3>{{ flight?.OutboundFlightsDuration }}</h3>
        </div>
        <div class="separator"></div>
        <div class="stops">
          <h4>
            {{ flight?.Stops }}
            <span i18n="Stops|Total Number of stops">stops</span>
          </h4>
        </div>
      </div>
      <div class="total-amount">
        <h3>$ {{ flight?.TotalAmount }}</h3>
        <button
          type="button"
          mat-raised-button
          color="primary"
          i18n="Book Flight|Click to book a flight"
        >
          Book
        </button>
      </div>
    </div>
  </mat-card>
</div>
