.search-container {
  display: flex;
  padding: 15px;
  padding-left: 0;
}

.filter {
  flex-basis: auto;
  margin-right: 15px;
  margin-top: 15px;
}

.content {
  flex-basis: 80%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search-container {
    display: block;
    padding-right: 0;
  }
  .filter {
    display: none;
  }
}
