<app-flight-search (searchResult)="searchFlights($event)"></app-flight-search>
<div class="search-container">
  <div class="filter" *ngIf="showFilter">
    <mat-card>
      <app-flight-filter (filter)="filterFlights($event);" [airlines]="airlines" [maxTotalAmount]="maxTotalAmount"
        [maxStops]="maxStops"></app-flight-filter>
    </mat-card>
  </div>
  <div class="content">
    <ng-container *ngFor="let flight of flights">
      <app-flight [flight]="flight" [includeReturn]="includeReturn"></app-flight>
    </ng-container>
    <ng-container *ngIf="flights?.length == 0">
      <mat-chip-list color="primary">
        <mat-chip i18n="No flights | Error message when there are no flights">
          No flights found! Please refine your search criteria.
        </mat-chip>
      </mat-chip-list>
    </ng-container>
  </div>
</div>