<form name="flightsFilterForm" #flightsFilterForm="ngForm">
    <mat-list>
        <h3 i18n="All Airlines|List of all the airlines">Airlines</h3>
        <mat-list-item *ngFor="let airline of airlines">
            <mat-checkbox name="airline" [(ngModel)]="airline.Checked" (ngModelChange)="filterFlights(airline)">
                {{airline.AirlineName}}
            </mat-checkbox>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 i18n="Stops|Total Numer of stops">Stops</h3>
        <mat-list-item>
            <mat-slider [min]=minStops [max]="maxStops" [step]="stepsStops" [thumbLabel]="true" name="stops"
                [(ngModel)]="filterCriteria.stops" (ngModelChange)="filterFlights(airline)">
            </mat-slider>
            <div class="chip">{{filterCriteria.stops}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 i18n="Total Amount|Minimum and maximum fares for all the flights">Fare</h3>
        <mat-list-item>
            <mat-slider [min]=minFare [max]="maxTotalAmount" [step]="stepsFare" [thumbLabel]="true" name="fareAmount"
                [(ngModel)]="filterCriteria.fareAmount" (ngModelChange)="filterFlights(airline)">
            </mat-slider>
            <div>{{filterCriteria.fareAmount}}</div>
        </mat-list-item>
    </mat-list>
</form>