/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Muli", Roboto, "Helvetica Neue", sans-serif; }

@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: '"Muli", sans-serif;'
);
@include mat-core($custom-typography);
// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
